@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary text-white;
  font-family: 'Manrope', sans-serif;
  @apply font-sans;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
